.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.dashboard > nav {
  color: white;
  background-color: #6C8EAD;
}